<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcvalidator.ValidationReportIfcValidatorPlugin</implementationClass>
		<name>IFC Validator</name>
		<description>Validates IFC models according to user defined settings</description>
	</JavaPlugin>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcvalidator.ValidationReportPerCheckIfcValidatorPlugin</implementationClass>
		<name>IFC Validator (ED per check)</name>
		<description>Validates IFC models according to user defined settings</description>
	</JavaPlugin>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcvalidator.BcfIfcValidatorPlugin</implementationClass>
		<name>IFC Validator (BCF)</name>
		<description>Validates IFC models according to user defined settings, output as BCF</description>
	</JavaPlugin>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcvalidator.ExcelIfcValidatorPlugin</implementationClass>
		<name>IFC Validator (Excel)</name>
		<description>Validates IFC models according to user defined settings, output as Excel</description>
	</JavaPlugin>
</PluginDescriptor>