<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.ifcvalidator.IfcValidatorPlugin</implementationClass>
		<name>IFC Validator</name>
		<description>Validates IFC models according to user defined settings</description>
	</JavaPlugin>
</PluginDescriptor>